@page "/"

<h1>Desafio Webmotors</h1>

<p>Olá,</p>

<p>Gostei muito de fazer este desafio pois apesar de não ser requerido, decidi aproveitar o requerimento de implementação de uma página para focar um pouco no frontend e conhecer o Blazor.</p>

<p>Acredito que também tenha exagerado um pouco nas camadas de Backend, pois minha ideia inicial seria consumir minha própria API, o que acabou não sendo necessaário, fica de brinde!</p>

<p>Talvez porisso achei o tempo proposto relativamente curto, caso tivesse mais tempo, refatoraria alguns códigos duplicados e a arquitetura do projeto, além de aumentar cobertura de testes.</p>

<p>Espero que gostem e se divirtam tanto quanto eu.</p>

<p>Atenciosamente,</p>
<h5> Rafael di Loreto</h5>


